# --XCODE--

# User settings
xcuserdata/

# Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# --MACOS--

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

